*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea*
gradle*

#/app/src/test
/app/src/androidTest
/rx2/src/test
/rx2/src/androidTest
*.pro